*{
	font-family			:	sans-serif;
}

body{
	background-image	: 	url("http://www.pets4homes.co.uk/images/cats_hero.png");
	background-color	:	#e8dc5f;
}

h3{
	font-size			:	25px;
	width				:	100%;
	text-align			:	left;
	color				:	white;
}

#alles{
	background-color	:	#0c0149;
	
	width				:	70%;
	margin-left			:	auto;
	margin-right		:	auto;
	margin-top			:	50px;
	
	border-style		:	solid;
	border-width		:	20px;
	border-color		:	#0c0149;
	border-radius		:	5px;
}

.form{
	color				:	black;
	background-color	:	#d3e5d4;
	
	width				:	100%;
	height				:	38px;
	text-align		: 	left;
    padding-left	:	30px;
	font-size			:	16px;
	
	box-sizing			: 	border-box;
	
	border-style		:	solid;
	border-color		:	black;
	border-width		:	3px;
	border-bottom		:	none;
}

.colored{
	background-color	:	#444f01;
	color				:	white;
}

#extraBorder{
	border-bottom		: solid black 3px;
	
}