#wrapper {
    width: 100%;
    border: 1px solid black;
    background: lightgrey;
    overflow: auto;
}
#linkerkant {
    width: 20%;
    float: left;
}
#bord {
    width: 80%;
    background: aquamarine;
    float: right; 
}
#speler {
    background: greenyellow;
    overflow: auto;
    padding: 5px;
}
canvasKaartje {
    background: pink;
    overflow: auto;        
    padding: 5px;
}
#winkel {
    background: palegoldenrod;
    overflow: auto;
    padding: 5px;
}