#wrapper {
    width: 100%;
    border: 1px solid black;
    overflow: auto;
}
#bord {
    width: 80%;
    background: aquamarine;
    float: right; 
}
#speler {
    width: 20%;
    background: greenyellow;
    float: left;
}
#kaartje {
    width: 20%;
    background: pink;
    overflow: auto
}
#winkel {
    width: 20%;
    background: palegoldenrod;
    overflow: auto
}