#wrapper {
    width: 100%;
    border: 1px solid black;
    background: palegoldenrod;
    overflow: auto;
}
#linkerkant {
    width: 20%;
    float: left;
}
#bordcontainer {
    width: 80%;
    background: Tan ;
    float: right;
}
#bord {
    /*background: rgb(150, 216, 232);*/
    background: Tan ;
    text-align: center;
    padding: 15px;
}
#speler {
    background: palegoldenrod;
    overflow: auto;
    padding: 5px;
    text-align: center;
}
a {
    color: inherit;
    text-decoration: inherit;
}
#canvasKaartje {
    background: palegoldenrod;
    overflow: auto;        
    padding: 5px;
    text-align: center;
}
#winkel {
    background: palegoldenrod;
    overflow: auto;
    padding: 5px;
    text-align: center;
}